html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf8f5;
  font-size: clamp(18px, 2.4vw, 36px);
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
  font-weight: normal;
  color: #777;
}

.message1 {
  position: absolute;
  top: 8vw;
  left: 8vw;
  font-size: clamp(24px, 4vw, 36px);
  line-height: 1.3;
}
